body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f7fa;
}

.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #198754;
  color: white;
  padding-top: 20px;
  transition: all 0.3s;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  margin: 4px 10px;
  border-radius: 6px;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #157347;
}

.content {
  margin-left: 260px;
  padding: 20px;
  transition: all 0.3s;
}

/* Responsive Sidebar */
@media (max-width: 992px) {
  .sidebar {
    left: -260px;
  }

  .sidebar.active {
    left: 0;
  }

  .content {
    margin-left: 0;
  }
}
